body {
font-family: Arial, Helvetica, sans-serif;
}

#blåruta {
position: absolute;
top: 25px;
left: 50px;
width: 180px;
height: 110px;
background-color: blue;
color: white;
}

#grönruta {
position: absolute;
top: 60px;
left: 100px;
width: 180px;
height: 110px;
background-color: green;
}

#gulruta {
position: absolute;
top: 100px;
left: 80px;
width: 180px;
height: 120px;
background-color: yellow;
}

#gultext {
background-color: yellow;
}

#jobbigruta {
height: 110px;
width: 510px;
position: absolute;
top: 235px;
left: 10px;
border: 5px red solid;
text-align: right;
background-image: url("Bilder/bild.jpg");
}

#nånkonstigtext {
position: relative;
left: 40px;
}

#text123 {
position: absolute;
top:440px;
}

#överstrykning {
text-decoration: line-through;
}
