#container {
width: 1000px;
text-align: left;
margin: auto;
font-family: Calibri;
}

#huvud {
float: left;
background: tan;
width: 1000px;
}

#rubrik {
padding-left: 220px;
margin-top: 80px;
}

img {
float: left;
height: 100px;
width: 100px;
padding: 20px;
}

#meny {
margin: 0px;
padding: 0px;
width: 1000px;
}

#meny ul {
margin: 0px;
padding: 0px;
padding-right: 267px;
background: red;
color: white;
text-align: center;
}

#meny li {
display: inline-block;
margin: 0px 0px 0px -3px;
padding: 5px 15px 5px 15px;
border-right: 1px white solid;
}

#meny li:hover {
background: tomato;
}

#meny a:visited {
color: yellow;
}

#hund {
background: white;
color: black;
}

li#hund{
border-left: 1px black solid;
border-right: 1px black solid;
}

a {
color: black;
text-decoration: none;
}

a:hover {
color: red;
}

#vänster_sida {
float: left;
background: lime; 
width: 212px;
color: black;
text-decoration: underline;
height: 574px;
}

#vänster_sida li {
padding: 5px;
}

#mitten {
padding: 12px;
float: left;
width: 550px;
background: white;
border-left: 1px gray solid;
border-right: 1px gray solid;
height: 550px;
}

#höger_sida {
float: left;
background: lime; 
width: 212px;
text-align: center;
height: 574px;
}

#högra_listan {
border: 1px black solid;
text-align: center;
padding: 20px;
margin: 20px;
}

#högra_listan_rubrik {
font-size: 20px;
font-weight: bold;
text-align: left;
}

#höger_sida li {
border: 1px black solid;
border-radius: 10px;
background: white;
padding: 10px;
margin: 10px;
}

#höger_sida li:hover {
background: lightgreen;
}

li#current{
background: lightblue;
}

li {
list-style-type: none;
}

footer {
float: left;
background: tan;
width: 1000px;
font-weight: bold;
font-size: 20px;
text-align: center;
line-height: 10px;
}

#hundarna {
text-align: center;
}

#bulldog {
position: absolute;
left: 550px;
top: 610px;
}

#husky {

position: absolute;
left: 650px;
top: 560px;
}

#dalmatin {
position: absolute;
left: 750px;
top: 610px;
}
