body {
font-family: arial, sans serif;
}

#storaruta {
float: left;
border: 1px solid black;
}

#rubrik {
float: left;
padding: 10px;
font-size: 30px;
background-color: #666666;
text-align: center;
width: 780px;
color: white;
border-bottom: 1px solid black;
}

#rastergrafik {
float: left;
font-size: 20px;
padding: 10px;
text-align: left;
border-bottom: 1px black solid;
width: 780px;
background-color: #CCCCCC;
}

#jpg {
float: left;
padding: 10px;
width: 246px;
border-bottom: 1px solid black;
background-color: #EEEEEE;
}

#gif {
float: left;
padding: 10px;
width: 246px;
border-bottom: 1px solid black;
background-color: #EEEEEE;
border-left: 1px solid black;
border-right: 1px solid black;
}

#png {
float: left;
padding: 10px;
width: 246px;
border-bottom: 1px solid black;
background-color: #EEEEEE;
}

#vektorgrafik {
float: left;
font-size: 20px;
padding: 10px;
text-align: left;
border-bottom: 1px black solid;
width: 780px;
background-color: #CCCCCC;
}

#wmf {
float: left;
padding: 10px;
width: 379.5px;
border-bottom: 1px solid black;
background-color: #EEEEEE;
}

#svg {
float: left;
padding: 10px;
width: 379.5px;
border-bottom: 1px solid black;
border-left: 1px solid black;
background-color: #EEEEEE;
}

#namn {
float: left;
width: 780px;
background-color: #999999;
font-size: 20px;
padding: 10px;
text-align: center;
vertical-align: center;
line-height: 69px;
}

#center {
margin: auto;
height: 520px;
width: 800px;
}
