* {
  margin: 0;
  padding: 0;
}
body {
  font-family: 'Verdana', serif;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background: #333;
  color: white;
}
#container {
  width: 100%;
  height: 100%;
}
#mitten {
  text-align: center;
  position: absolute;
  top: 45%;
  left: 50%;
  -ms-transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
#vecka {
  white-space: nowrap;
  font-size: 8vw;
}
#kod {
  white-space: nowrap;
  font-size: 10vw;
}
#kod > span {
  color: #C83333;
}
#tV {
  position: fixed;
  top: 20px;
  left: 70px;
}
#fV {
  position: fixed;
  top: 20px;
  right: 70px;
}
.FochT {
  cursor: pointer;
  font-size: 3em;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}
.pil {
  cursor: pointer;
  border-right: 12px solid white;
  border-bottom: 12px solid white;
  color: transparent;
  width: 25px;
  height: 25px;
  position: fixed;
  top: 35px;
}
#tP {
  left: 25px;
  transform: rotate(135deg);
}
#fP {
  right: 25px;
  transform: rotate(315deg);
}
