* {
margin: 0px;
padding: 0px;
}

body {
font-family: Calibri;
}

#container {
border: 1px black solid;
margin: 20px auto;
width: 800px;
height: 640px;
}

#huvud {
float: left;
text-align: center;
font: bold 15px Tahoma;
color: white;
padding: 10px;
border-bottom: 1px black solid;
width: 580px;
background-color: Tomato;
}

#flikar {
padding: 0px;
margin: 0px;
width: 580px;
}

#aside_höger {
float: right;
text-align: center;
width: 179px;
padding: 10px;
border-left: 1px black solid;
background-color: yellow;
height: 561px;
}

.divs  {
margin: 10px;
padding: 5px;
border: 1px red solid;
background-color: white;
}

article {
float: left;
background: lightgray;
padding: 5px;
width: 590px;
height: 470px;
margin: 0px;
}

h1 {
margin: 0px;
padding: 0px;
font-size: 25px;
}

h2 {
margin: 0px;
padding: 0px;
font-size: 20px;
}

section {
margin: 15px;
}

footer {
float: left;
font-size: 25px;
background: gray;
border-top: 1px black solid;
width: 800px;
height: 58px;
text-align: center;
line-height: 58px;
}

img {
width: 220px;
height: 150px;
}

#meny a {
color: black;
text-decoration: none;
}

#meny li {
display: inline-block;
list-style-type: none;
color: black;
margin: 16px 10px 10px 10px;
border-top: 1px black solid;
border-left: 1px black solid;
border-right: 1px black solid;
text-align: center; 
width: 75px;
padding: 5px 5px 6px 5px;
}

#meny {
background: white;
height: 100px;
width: 600px;
border-bottom: 1px black solid;

}

#bananfärg {
height: 22px;
background: lightgray;

}

.annanfärg:hover {
cursor: pointer;
background: white;
padding: 5px 5px 6px 5px;
}

.annanfärg {
background: #FFDB99;
height: 21px; 

}


