@import url(https://fonts.googleapis.com/css?family=Roboto+Slab:400);
* {
  margin: 0;
  padding: 0;
}
body {
  height: auto;
  font-family: 'Roboto Slab', serif;
  background: white;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
  pointer-events: none;
  min-width: 550px;
}
#container {
  width: 100wv;
  height: auto;
  overflow-x: hidden;
}
#scrolling-margin {
  background: white;
  margin-top: 100vh;
}
.background {
  position: absolute;
  height: 100vh;
  width: 100vw;
  background-size: cover;
  background-position: center;
}
#content-1 {
  position: fixed;
  z-index: -1;
  height: 100vh;
  width: 100vw;
}
#content-1 > div:nth-child(1) {
  background-image: url(../bilder/ost/1.jpg);
}
#content-1 > div:nth-child(2) {
  background-image: url(../bilder/ost/2.jpg);
}
#content-1 > div:nth-child(3) {
  background-image: url(../bilder/ost/3.jpg);
}
.background:before {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.2);
}
.background > div {
  text-align: center;
  position: absolute;
  font-size: 5vw;
  color: white;
  top: 50vh;
  left: 50vw;
  -ms-transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  white-space: nowrap;
}
.background > div > p:nth-child(1) {
  font-size: 5vw;
}
.background > div > p:nth-child(2) {
  font-size: 2.5vw;
}
#content-1 > i {
  font-size: 75px;
  cursor: pointer;
  position: absolute;
  width: 48px;
  left: 50vw;
  bottom: 0px;
  color: white;
  -ms-transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  -webkit-transition: color 0.3s ease-in-out;
  -moz-transition: color 0.3s ease-in-out;
  -ms-transition: color 0.3s ease-in-out;
  -o-transition: color 0.3s ease-in-out;
  transition: color 0.3s ease-in-out;
  pointer-events: auto;
}
#content-1 > i:hover {
  color: #333;
}
.between-margin {
  height: 30px;
  width: 100wv;
  background-color: white;
  z-index: 10;
}
#treBilder {
  width: 200vw;
  height: 35vw;
  background: white;
  display: flex;
  justify-content: center;
}
.enBild {
  position: relative;
  width: 44.8vw;
  height: 25.2vw;
  background-size: contain;
  pointer-events: auto;
  -webkit-transition: all 0.3s ease-in-out, margin 0.8s ease-out;
  -moz-transition: all 0.3s ease-in-out, margin 0.8s ease-out;
  -ms-transition: all 0.3s ease-in-out, margin 0.8s ease-out;
  -o-transition: all 0.3s ease-in-out, margin 0.8s ease-out;
  transition: all 0.3s ease-in-out, margin 0.8s ease-out;
  display: inline-block;
  margin: 0 1% 0 0;
  align-self: center;
  background-origin: content-box;
  background-repeat: no-repeat;
}
#treBilder > div:hover {
  width: 51.2vw !important;
  height: 28.8vw !important;
}
#treBilder > div:nth-child(1) {
  background-image: url(../bilder/showcase/2.jpg);
  margin-left: -49%;
  padding-left: 5%;
}
#treBilder > div:nth-child(2) {
  background-image: url(../bilder/showcase/1.jpg);
}
#treBilder > div:nth-child(3) {
  background-image: url(../bilder/showcase/3.jpg);
  padding-right: 5%;
}
#treBilder > div:nth-child(1):hover {
  margin-left: -25% !important;
}
.enBild > div {
  opacity: 0;
  -webkit-transition: all 0.8s ease-in-out;
  -moz-transition: all 0.8s ease-in-out;
  -ms-transition: all 0.8s ease-in-out;
  -o-transition: all 0.8s ease-in-out;
  transition: all 0.8s ease-in-out;
  position: absolute;
  pointer-events: none;
  left: 50%;
  -ms-transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  top: 102%;
  font-size: 2.5vw;
  white-space: nowrap;
}
#treBilder > div:nth-child(1) > div {
  left: 57.5%;
}
#treBilder > div:nth-child(3) > div {
  left: 42.5%;
}
.enBild:hover > div {
  opacity: 1;
}
.subHeader {
  text-align: center;
  color: #333;
  font-weight: 500;
  font-size: 3.5em;
  background: white;
  white-space: nowrap;
}
.parallax {
  color: #333;
  position: relative;
  width: 100%;
  height: 50vh;
  overflow: hidden;
  z-index: 0;
  background-repeat: repeat;
}
#content-3 > .parallax:nth-child(1) {
  background-image: url("../bilder/personal/1.jpg");
}
#content-3 > .parallax:nth-child(3) {
  background-image: url("../bilder/personal/2.jpg");
}
#content-3 > .parallax:nth-child(5) {
  background-image: url("../bilder/personal/3.png");
}
#content-3 > .parallax:nth-child(7) {
  background-image: url("../bilder/personal/4.jpg");
}
.parallax > #shadow {
  position: absolute;
  width: 100%;
  height: 100%;
  -moz-box-shadow: inset 0 8px 8px -8px #333, inset 0 -8px 8px -8px #333;
  -webkit-box-shadow: inset 0 8px 8px -8px #333, inset 0 -8px 8px -8px #333;
  -o-box-shadow: inset 0 8px 8px -8px #333, inset 0 -8px 8px -8px #333;
  box-shadow: inset 0 8px 8px -8px #333, inset 0 -8px 8px -8px #333;
  z-index: 2;
}
.clip {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  clip: rect(0, auto, auto, 0);
  clip-path: inset(0 0 0 0);
}
.personInf {
  background: white;
  position: fixed;
  padding: 20px;
  width: 530px;
  height: 320px;
  top: 50%;
  left: 50%;
  -ms-transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  z-index: 1;
  -moz-box-shadow: inset 0 8px 8px -8px #333, inset 0 -8px 8px -8px #333, inset 8px 0 8px -8px #333, inset -8px 0 8px -8px #333;
  -webkit-box-shadow: inset 0 8px 8px -8px #333, inset 0 -8px 8px -8px #333, inset 8px 0 8px -8px #333, inset -8px 0 8px -8px #333;
  -o-box-shadow: inset 0 8px 8px -8px #333, inset 0 -8px 8px -8px #333, inset 8px 0 8px -8px #333, inset -8px 0 8px -8px #333;
  box-shadow: inset 0 8px 8px -8px #333, inset 0 -8px 8px -8px #333, inset 8px 0 8px -8px #333, inset -8px 0 8px -8px #333;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  backface-visibility: hidden;
}
.personInf > .img {
  width: 200px;
  height: 320px;
  float: left;
  margin: 0 15px 0 15px;
  background-size: cover;
  background-position: center;
}
.personInf > #img1 {
  background-image: url("../bilder/personal/arvid.jpg");
}
.personInf > #img2 {
  background-image: url("../bilder/personal/elin.jpg");
}
.personInf > #img3 {
  background-image: url("../bilder/personal/erik.jpg");
}
.personInf > #img4 {
  background-image: url("../bilder/personal/julia.jpg");
}
.personInf > div {
  width: 300px;
  float: right;
}
.personInf > div > div:nth-child(1) {
  text-align: center;
  width: 300px;
  font-size: 1.5em;
  float: left;
}
.personInf > div > div:nth-child(4) {
  float: left;
  font-size: 17px;
}
#content-2 {
  position: relative;
  z-index: 10;
  height: 50vh;
  width: 100vw;
  background: #333;
}
#smallBilder {
  position: absolute;
  left: 20%;
  top: 0;
  height: 50vh;
  width: 80vw;
  z-index: 48;
  overflow: hidden;
  font-size: 0;
}
#smallBilder > div {
  position: absolute;
  -ms-transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}
#smallBilder > div:nth-child(1) {
  top: 27.5%;
}
#smallBilder > div:nth-child(2) {
  top: 72.5%;
}
#smallBilder > div > li {
  text-decoration: none;
  list-style-type: none;
  z-index: 48;
  background-size: cover;
  background-position: center;
  width: 16vw;
  height: 9vw;
  display: inline-block;
  margin-left: 3.2vw;
  outline: 5px solid white;
  pointer-events: auto;
  cursor: pointer;
}
#smallBilder > div > li:nth-child(odd) {
  background-image: url(../bilder/ost/4.jpg);
}
#smallBilder > div > li:nth-child(even) {
  background-image: url(../bilder/personal/arvid.jpg);
}
#smallBilder > div > li:hover:before {
  background-color: rgba(0, 0, 0, 0.3);
}
#smallBilder > div > li:before {
  content: '';
  position: absolute;
  width: 16vw;
  height: 9vw;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
#top-layer {
  background: white;
  position: relative;
  height: 52vh;
  -webkit-transition: margin 1s ease-in-out;
  -moz-transition: margin 1s ease-in-out;
  -ms-transition: margin 1s ease-in-out;
  -o-transition: margin 1s ease-in-out;
  transition: margin 1s ease-in-out;
  z-index: 50;
  pointer-events: auto;
  top: -1vh;
}
#top-layer.moved {
  margin-left: -80%;
  margin-right: 80%;
}
#top-layer > div:nth-child(1),
#top-layer > div:nth-child(2) {
  position: absolute;
  width: 110vw;
  height: 0.5vh;
  background: #333;
  left: 100vw;
  -webkit-transition: left 1s ease-in-out;
  -moz-transition: left 1s ease-in-out;
  -ms-transition: left 1s ease-in-out;
  -o-transition: left 1s ease-in-out;
  transition: left 1s ease-in-out;
}
#top-layer.line > div:nth-child(1),
#top-layer.line > div:nth-child(2) {
  left: 0;
}
#top-layer > div:nth-child(1) {
  top: 1vh;
}
#top-layer > div:nth-child(2) {
  bottom: 1vh;
}
#top-layer > div:nth-child(3) {
  margin: auto;
  position: absolute;
  right: 5vw;
  left: auto;
  top: 0;
  bottom: 0;
  width: 2vw;
  height: 2vw;
  border-right: 1.2vw solid #d3531a;
  border-bottom: 1.2vw solid #d3531a;
  transform: rotate(135deg);
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
  pointer-events: auto;
}
#top-layer > div:nth-child(3):hover {
  border-right: 1.2vw solid #333;
  border-bottom: 1.2vw solid #333;
}
#top-layer > div:nth-child(4) {
  position: relative;
  width: 70vw;
  height: 49vh;
  padding: 1.5vh 0 1.5vh 15vw;
  overflow: hidden;
}
#bild {
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  background-image: url(../bilder/staff.jpg);
  background-size: contain;
  width: 30vw;
  height: 30vw;
  max-height: 49vh;
  max-width: 49vh;
}
#fitText {
  position: relative;
  height: 100%;
  width: 38vw;
  left: 32vw;
}
#omText {
  color: #333;
  font-size: 1px;
}
#omText > span {
  color: #d3531a;
}
#content-4 {
  position: relative;
  width: 100vw;
  height: 75vh;
}
#hidemap {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 75vh;
  pointer-events: auto;
  background: rgba(0, 0, 0, 0.3);
  z-index: 10;
  cursor: pointer;
}
#hidemap > div {
  font-size: 5vw;
  position: absolute;
  color: white;
  top: 50%;
  left: 50%;
  -ms-transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  white-space: nowrap;
}
#map {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 75vh;
  pointer-events: auto;
}
#mapShadow {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 75vh;
  z-index: 9;
  -moz-box-shadow: inset 0 8px 8px -8px #333, inset 0 -8px 8px -8px #333;
  -webkit-box-shadow: inset 0 8px 8px -8px #333, inset 0 -8px 8px -8px #333;
  -o-box-shadow: inset 0 8px 8px -8px #333, inset 0 -8px 8px -8px #333;
  box-shadow: inset 0 8px 8px -8px #333, inset 0 -8px 8px -8px #333;
}
#nav-icon2 {
  cursor: pointer;
  position: fixed;
  width: 5.6vw;
  height: 4vw;
  top: 15px;
  right: 15px;
  z-index: 1000;
  pointer-events: auto;
}
#nav-icon2:hover span {
  background: white;
}
#nav-icon2.open span {
  background: white;
}
#nav-icon2 span {
  display: block;
  position: absolute;
  height: 20%;
  width: 50%;
  background: #d3531a;
  opacity: 1;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: 0.3s ease-in-out;
  -moz-transition: 0.3s ease-in-out;
  -o-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
  -webkit-font-smoothing: antialiased;
}
#nav-icon2 span:nth-child(even) {
  left: 50%;
  border-radius: 0 9px 9px 0;
}
#nav-icon2 span:nth-child(odd) {
  left: 0%;
  border-radius: 9px 0 0 9px;
}
#nav-icon2 span:nth-child(1),
#nav-icon2 span:nth-child(2) {
  top: 0%;
}
#nav-icon2 span:nth-child(3),
#nav-icon2 span:nth-child(4) {
  top: 40%;
}
#nav-icon2 span:nth-child(5),
#nav-icon2 span:nth-child(6) {
  top: 80%;
}
#nav-icon2.open span:nth-child(1),
#nav-icon2.open span:nth-child(6) {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}
#nav-icon2.open span:nth-child(2),
#nav-icon2.open span:nth-child(5) {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}
#nav-icon2.open span:nth-child(1) {
  left: 9%;
  top: 18%;
}
#nav-icon2.open span:nth-child(2) {
  left: 41%;
  top: 18%;
}
#nav-icon2.open span:nth-child(3) {
  left: -50%;
  opacity: 0;
}
#nav-icon2.open span:nth-child(4) {
  left: 100%;
  opacity: 0;
}
#nav-icon2.open span:nth-child(5) {
  left: 9%;
  top: 62%;
}
#nav-icon2.open span:nth-child(6) {
  left: 41%;
  top: 62%;
}
#header #menu {
  position: fixed;
  display: none;
  width: 100%;
  height: 200vh;
  background: rgba(0, 0, 0, 0.9);
  overflow: hidden;
  z-index: 998;
  pointer-events: auto;
}
#bildShowCase {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  pointer-events: auto;
}
#bildShowCase > img {
  position: absolute;
  top: 48%;
  left: 50%;
  width: auto;
  height: auto;
  max-height: 90vh;
  max-width: 75vw;
  -ms-transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  outline: 2px solid white;
  z-index: 1;
}
.pil {
  position: absolute;
  top: 45%;
  width: 2vw;
  height: 2vw;
  border-right: 1.2vw solid #d3531a;
  border-bottom: 1.2vw solid #d3531a;
  -webkit-transition: 0.3s ease-in-out;
  -moz-transition: 0.3s ease-in-out;
  -o-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
  cursor: pointer;
  pointer-events: auto;
}
.pil:hover {
  border-right: 1.2vw solid white;
  border-bottom: 1.2vw solid white;
}
#pV {
  left: 5vw;
  transform: rotate(135deg);
}
#pH {
  right: 5vw;
  transform: rotate(-45deg);
}
#bscNav {
  position: absolute;
  left: 50%;
  -ms-transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: center;
  -webkit-transition: 0.5s ease-in-out;
  -moz-transition: 0.5s ease-in-out;
  -o-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
}
#bscNav > div {
  display: inline-block;
  width: 1vw;
  height: 1vw;
  border: 0px solid white;
  border-radius: 2147483647px;
  background: white;
  margin-right: 1vw;
  align-self: center;
}
.bigger {
  width: 1.5vw !important;
  height: 1.5vw !important;
}
#header #menu ul {
  position: relative;
  top: 60%;
  right: 0;
  opacity: 0;
  width: 50%;
  margin: 0 auto;
  list-style-type: none;
  color: white;
  text-align: center;
  -moz-transition: 0.7s;
  -webkit-transition: 0.7s;
  -o-transition: 0.7s;
  transition: 0.7s;
}
#text-menu li {
  font-size: 7vh;
  height: auto;
  width: auto;
  -moz-transition: 0.2s;
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
  white-space: nowrap;
}
#text-menu li:not(:first-child) {
  margin-bottom: 2vh;
  cursor: pointer;
  pointer-events: auto;
}
#text-menu li:first-child {
  color: #d3531a !important;
  margin-bottom: 5vh;
  font-size: 8vh;
}
#header #menu ul li:hover {
  color: #555;
}
#header #menu .animation {
  top: 50vh;
  -webkit-transform: translateY(-60%);
  -ms-transform: translateY(-60%);
  transform: translateY(-60%);
  opacity: 1;
}
